:root {
  --branding-color: #f5dd7b;
  --secondary-color: #83580b;
  --heading-font-family: "Playfair display", serif;
  --default-font-family: "Poppins", sans-serif;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  display: inline;
  list-style: none;
  margin-right: 20px;
  line-height: 42px;
}

nav a {
  text-decoration: none;
  color: rgb(30, 27, 27);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 180px 20px;
}

.hero h1 {
  font-size: 96px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  line-height: 2;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
}

.btn-branding {
  background: var(--secondary-color);
  color: white;
  border: none;
  line-height: 27px;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 15px 30px;
  line-height: 27px;
  font-size: 18px;
  border-radius: 4px;
  text-decoration: none;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  h1 {
    font-size: 44px;
    line-height: 2;
    padding: 0 20px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}

.project-desciption {
  padding: 120px 60px;
}

.content {
  padding: 120px 20px;
  text-align: center;
}

.content-content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 1.5;
}

.content h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin-top: 20px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}
